{% extends 'base.html' %}

{% block content %}

<div class='container mt-5'>

  <form method="post">
    {% csrf_token %}
    <div class="card text-center mx-auto shadow-lg p-3 mb-5 bg-body rounded col-lg-6">
      <div class="card-header">
        Change Password
      </div>
      <div class="card-body">
         <div class="mb-3 row">
            {{ form.as_p }}
          </div>
      </div>
      <div class="card-footer text-muted">
         <button type="submit" class="btn btn-primary mb-3">Change Password</button>
      </div>
    </div>

</div>


{% endblock %}
