{% extends 'base.html' %}

{% block content %}
</br></br>

<div class='container mt-5'>
  <form class="" method="post">
    {% csrf_token %}
    <div class="card text-center mx-auto shadow-lg p-3 mb-5 bg-body rounded col-lg-6">
      <div class="card-header">
        Edit Settings
      </div>
      <div class="card-body">
        {{ form }}
      </div>
      <div class="card-footer text-muted">
         <button type="submit" class="btn btn-primary mb-3" name="button">Update Settings</button>
      </div>
    </div>
  </form>
</div>
</br>
</br>
<script>
  document.getElementsByClassName('helptext')[0].style.visibility = 'hidden';
  document.getElementById("id_password").style.display = "none";
</script>

{% endblock %}
