{% extends 'base.html' %}
{% block title %}<title>Password Reset</title>{% endblock %}
{% block content %}
{% load crispy_forms_filters %}
</br></br>
<div class='container mt-5'>
  <form method="post">
    {% csrf_token %}
    <div class="card text-center mx-auto shadow-lg p-3 mb-5 bg-body rounded" style="width: 39rem;">
      <div class="card-header">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
      </div>
      <div class="card-body">
         <div class="mb-3 row">
            <div class="col-sm-10">
							<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
              {{ form|crispy }}
            </div>
          </div>
      </div>
      <div class="card-footer text-muted">
         <button type="submit" class="btn btn-primary mb-3">Send email</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
