{% extends 'base.html' %}
{% load static %}

{% block content %}
</br></br>


<div class="container">
<section class="">
  <div class="container">
    <div class="card mb-3">
      {% if my_profile.profile.cover_pic %}
        <img src="{{ my_profile.profile.cover_pic.url }}" class="card-img-top" alt="..." height="400" width="400">
      {% else %}
        <img src="{% static 'profile_ex/coverprofile.jpg' %}" class="card-img-top" alt="..." height="400" width="400">
      {% endif %}
      <div class="card-body">
        <div class="d-flex position-relative">
          {%  if my_profile.profile.profile_pic %}
            <img src="{{ my_profile.profile.profile_pic.url }}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="150" width="150">
          {% else %}
            <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="150" width="150">
          {% endif %}
          <div>
              <h5 class="mt-0"><strong>{{ my_profile.first_name }} {{ my_profile.last_name }}</strong></h5>

            {% if my_profile.profile.user_bio %}
            <p>{{ my_profile.profile.user_bio }}.</p>
            {% else %}
            <h2>Noo bio..</h2>
            {% endif %}
            {% if my_profile.id == user.id %}
            {% if not my_profile.profile.id %}
              <a href="{% url 'accounts:create_profile' %}" class="btn btn-secondary"><i class="material-icons">edit</i> Create Profile</a>
            {% else %}
              <a href="{% url 'accounts:edit_profile' my_profile.profile.id %}" class="btn btn-secondary"><i class="material-icons">edit</i> Update Profile</a>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section>
  <div class="container mx-auto" style="width: 60rem;">
    <form class="" action="{% url 'accounts:createuser_post' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary" name="button">Create Post</button>
    </form>
  </div>
</section>

<hr>

<div class="container">
<div class='col-12 mt-5'>
<!-- posts list starts -->

{% for post in my_profile.userpost.all %}
<div class="card shadow-lg p-3 mb-5 bg-body rounded">
<div class="card-header">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="">
                    {% if post.user.profile.profile_pic %}
                    <img src="{{ post.user.profile.profile_pic.url }}" class="rounded" alt="..." width="70" height="70">
                    {% else %}
                      <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." width="70" height="70">
                    {% endif %}
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <h5><a class="nav-link active" aria-current="page" href="">{{ post.user.profile.user.first_name }} {{ post.user.profile.user.last_name }}</a></h5>
                        <p class="card-text"><small class="text-muted">{{ post.created_at|time:"H\h : i\m" }}</small></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
  <hr>
  <div class="card-body">
    <p class="card-text">{{ post.body|safe }}</p>
  </div>
</div>
<div class="card-body pb-2">
  <div class="card mb-3">
    {% if post.post_img %}
    <img src="{{ post.post_img.url }}" class="card-img-top" alt="...">
    {% endif %}
  </div>

  <div class="card-body pb-0">
    <div class="row">
      <div class="col-6">
        <p>Likes- {{ post.total_likes }}</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <p></p>
      </div>
    </div>
  </div>
</div>
<hr>
{% if user.is_authenticated %}
  <div class="card-footer text-muted">
      <div class="row">
          <div class="col-4">
            <form class="" action="{% url 'posts:user_postlike' post.pk %}" method="post">
              {% csrf_token %}
              {% if user in post.post_like.all %}
              <button type="submit" name="post_id" value="{{ post.id }}">
                <i class="material-icons d-flex justify-content-start">thumb_down</i>
              </button>
              {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}">
                  <i class="material-icons d-flex justify-content-start">thumb_up</i>
                </button>
              {% endif %}
          </div>
          <div class="col-4">
          </div>
          <div class="col-4">
                <i class="material-icons d-flex justify-content-center">comment</i>
          </div>
      </div>
  </div>
{% endif %}

{% endfor %}
</div>
</div>



{% endblock %}
