{% extends 'base.html' %}

{% block content %}


<div class='container mt-5'>
  {% if user.is_authenticated %}
  {% if user.id == profile.user.id %}
  <form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card text-center mx-auto shadow-lg p-3 mb-5 bg-body rounded" style="width: 35rem;">
      <div class="card-header">
        Profile Update
      </div>
      <div class="card-body">
        {{ form.as_p }}
      </div>
      <div class="card-footer text-muted">
         <button type="submit" class="btn btn-primary mb-3" name="button">Update</button>
      </div>
    </div>
  </form>
  {% else %}
  you're not allowed here...
  {% endif %}
  {% else %}
  Youre not right user to edit this page..
  {% endif%}
</div>

{% endblock %}
