<!-- posts list starts -->

{% for post in posts %}
<div class="card shadow-lg p-3 mb-5 bg-body rounded">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                 <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="{% url 'groups:group_posts' %}"><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=50" class="rounded" alt="..." width="" height=""></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <h5><a class="nav-link active" aria-current="page" href="{% url 'accounts:user_post_list' %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
                            <p class="card-text"><small class="text-muted">Last updated {{ post.post_created }}</small></p>
                          </li>
                        </ul>
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item d-flex justify-content-end">
                                <h2><a class="nav-link active" aria-current="page" href="{% url 'groups:group_posts' %}">Django Developer's Network</a></h2>
                              </li>
                          </ul>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
      <hr>
      <div class="card-body">
        <p class="card-text">{{ post.post_name }}</p>
      </div>
    </div>
    <div class="card-body pb-2">
      <div class="card mb-3">
        <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
      </div>

      <div class="card-body pb-0">
        <div class="row">
          <div class="col-6">
            <p>Likes- {{post.total_likes}}</p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <p>Comments- 10</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
        <div class="row">
            <div class="col-4">
                <i class="material-icons d-flex justify-content-start">thumb_up</i>
            </div>
            <div class="col-4">
                <i class="material-icons d-flex justify-content-center">comment</i>
            </div>
            <div class="col-4">
                <i class="material-icons d-flex justify-content-end">ios_share</i>
            </div>
        </div>
    </div>
    <div class="form-floating mt-4">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Write a public comment...</label>
    </div>

    <!-- comment section -->
    {% if not post.comments.all %}
      <span>No comments...</span>
    {% else %}
    {% for comment in post.comments.all %}
      <div class="d-flex justify-content-start comment-items">
          <img src="https://cdn.fastly.picmonkey.com/contentful/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=800&q=70" class="rounded-circle" alt="..." width='60' height='60'>
          <div class="ms-2 me-auto shadow-lg p-3 mb-5 bg-body rounded-pill mt-5">
            <div class="fw-bold">Abiola Biola</div>
            {{ comment.body }}
            <div class="ms-3 me-auto  mb-1">
              <span>Like . Reply . {{ comment.date_created }}</span>
            </div>
          </div>
      </div>
    {% endfor %}
    {% endif %}


    <!-- comment section ends -->

</div>
{% endfor %}

<!-- posts list ends -->
