@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



body {
  font-family: 'Roboto Condensed', sans-serif;
}


.group_list {
  border: aliceblue;
}


.comment-items {
  align-items: center;
}
