@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



body {
  font-family: 'Roboto Condensed', sans-serif;
}


.group_list {
  border: aliceblue;
}


.comment-items {
  align-items: center;
}


.group_name_bar:link  {
  text-decoration: none;
  color: black;

}

ol, ul {
    padding-left: 2rem;
    text-align: initial;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: start;
}


.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: start;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


.col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
    text-align: center;
}
