{% extends 'base.html' %}

{% block content %}
<div class="container">

  <section class="">
    <div class="container">
      <div class="card mb-3">
        <img src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="..." height="400" width="400">
        <div class="card-body">
          <h5 class="card-title">Django Developer's Network</h5>
          <div class="d-flex justify-content-end">
            <div class="btn-group">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Joined
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Join Group</a></li>
                <li><a class="dropdown-item" href="#">Leave Group</a></li>
              </ul>
            </div>
          </div>
          <p class="card-text">Public group·11 members.</p>
        </div>
      </div>
    </div>
  </section>


  <div class='col-12 mt-5'>
    {% include 'post.html' %}
  </div>

</div>



{% endblock %}
