{% extends 'base.html' %}
{% load static %}
{% block content %}
</br></br>
<div class="container-fluid">
  <div class="row row-no-gutters">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class='container-fluid'>
            <div class='row row-no-gutters'>
              <div class='col-lg-12 col-sm-12 col-md-6 mt-5 shadow-lg p-3 mb-5 bg-body rounded shadow-lg p-3 mb-5 bg-body rounded'>
                  <div class='mb-3' align="center">
                      <a class="btn btn-outline-primary d-flex justify-content-center" href="{% url 'groups:create_group' %}"><i class="material-icons d-flex justify-content-center">add_circle</i> Create Group</a>
                  </div>
                  <div class='mb-3'>
                    <form class="d-flex" action='{% url 'groups:search' %}' method='post'>
                      {% csrf_token %}
                      <input class="form-control me-2" type="search" name="query" placeholder="Search Groups" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                    {% for group in groups %}
                      <div class="list-group mb-3">
                        <a href="{% url 'groups:group_detail' group.slug %}" class="list-group-item list-group-item-action" aria-current="true">
                          <div class="d-flex w-100 justify-content-start">
                            {% if group.cover_pic %}
                              <img  src="{{ group.cover_pic.url }}" class="rounded" alt="..." height="70" width="70">
                            {% endif %}
                               <h5 class='mx-auto'>{{ group.groups_name }}</h5>
                          </div>
                          <p class="mb-1">{{ group.about_group }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <span>{{group.total_post}}- Posts</span>
                                </div>
                                 <div class="col-6">
                                    <small class="d-flex justify-content-end">3 days ago</small>
                                </div>
                            </div>
                        </a>
                      </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-md-6">
      <div class="container-fluid">
        <div class="row row-no-gutters">
            <div class='col-lg-12 col-sm-12 col-md-6 mt-5'>
                <div class="card group_list">
                    <div class=row>
                      {% for group in groups %}
                        <div class="col-lg-6 col-sm-12 col-md-12 mt-4">
                            <div class="card mx-auto shadow-lg p-3 mb-5 bg-body rounded" style="width: 20rem;">
                              <a href="{% url 'groups:group_detail' group.slug %}" class='group_name_bar' aria-current="true">
                              {% if group.cover_pic %}
                              <img src="{{ group.cover_pic.url }}" class="card-img-top" alt="..." height="250" width="250"></a>
                              {% else %}
                                <img src="{% static 'profile_ex/coverprofile.jpg' %}" class="card-img-top" alt="..." height="250" width="250">
                              {% endif %}
                              <div class="card-body">
                                <p class="card-text"><strong>{{ group.groups_name }}</strong></p>
                                <p class="card-text">20K members • 90 posts a day</p>
                                <p class="card-text"></p>

                                {% if user in group.members.all %}
                                  <a href="{% url 'groups:leave_group' group.slug %}" class="col-12 btn btn-secondary">Leave Group</a>
                                {% else %}
                                  <a href="{% url 'groups:join_group' group.slug %}" class="col-12 btn btn-secondary">Join Group</a>
                                {% endif %}

                              </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

</br>
</br>
</br>


{% endblock %}
