{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row row-no-gutters">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class='container-fluid'>
            <div class='row row-no-gutters'>
              <div class='col-lg-12 col-sm-12 col-md-6 mt-5 shadow-lg p-3 mb-5 bg-body rounded shadow-lg p-3 mb-5 bg-body rounded'>
                {% if user.is_authenticated %}
                  <div class='mb-3' align="center">
                      <button type="button" class="btn btn-outline-primary d-flex justify-content-center"><i class="material-icons d-flex justify-content-center">add_circle</i> Create Group</button>
                  </div>
                {% endif %}
                  <div class='mb-3'>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search Groups" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                  </div>
                    {% for group in groups %}
                      <div class="list-group mb-3">
                        <a href="{% url 'groups:group_detail' group.slug %}" class="list-group-item list-group-item-action" aria-current="true">
                          <div class="d-flex w-100 justify-content-start">
                              <img  src="{{ group.cover_pic.url }}" class="rounded" alt="..." height="70" width="70">
                               <h5 class='mx-auto'>{{ group.groups_name }}</h5>
                          </div>
                          <p class="mb-1">{{ group.about_group }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </div>
                                 <div class="col-6">
                                    <small class="d-flex justify-content-end">3 days ago</small>
                                </div>
                            </div>
                        </a>
                      </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-md-6">
      <div class="container-fluid">
        <div class="row row-no-gutters">
            <div class='col-lg-12 col-sm-12 col-md-6 mt-5'>
                <div class="card group_list">
                    <div class=row>
                      {% for group in groups %}
                        <div class="col-lg-6 col-sm-12 col-md-12 mt-4">
                            <div class="card mx-auto shadow-lg p-3 mb-5 bg-body rounded" style="width: 25rem;">
                              <a href="{% url 'groups:group_detail' group.slug %}" class='group_name_bar' aria-current="true">
                              <img src="{{ group.cover_pic.url }}" class="card-img-top" alt="..." height="250" width="250"></a>
                              <div class="card-body">
                                <h5 class="card-title">{{ group.groups_name }}</h5>
                                <p class="card-text">20K members • 90 posts a day</p>
                                <p class="card-text">{{ group.about_group }}</p>
                                {% if user.is_authenticated %}
                                <a href="#" class="col-12 btn btn-secondary">Join Group</a>
                                {% endif %}
                              </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



</br>
</br>
</br>
{% endblock %}
