{% extends 'base.html' %}

{% block content %}
<div class="container">

  <section class="">
    <div class="container">
      <div class="card mb-3">
        <img src="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="..." height="400" width="400">
        <div class="card-body">
          <div class="d-flex position-relative">
            <img src="https://i.mdel.net/i/db/2018/8/950736/950736-500w.jpg" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="150" width="150">
            <div>
              <h5 class="mt-0"><strong>{{ user.first_name }} {{ user.last_name }}</strong></h5>
              <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class='col-12 mt-5'>
      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-header">
              <div class="row">
                  <div class="col-12">
                       <nav class="navbar navbar-expand-lg navbar-light bg-light">
                          <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'group_list' %}"><img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=50" class="rounded" alt="..." width="" height=""></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                  <h5><a class="nav-link active" aria-current="page" href="{% url 'post_list' %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
                                </li>
                              </ul>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item d-flex justify-content-end">
                                      <h2><a class="nav-link active" aria-current="page" href="{% url 'group_list' %}">Django Developer's Network</a></h2>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </nav>
                  </div>
              </div>
            <hr>
            <div class="card-body">
              How can I save data of dynamic form field types. Like there is no fixed form field type. Users will select as per their convenience. How to make models for these type of forms?
            </div>
          </div>
          <div class="card-body pb-2">
            <div class="card" style="width: 77rem;">
              <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/aajtak/images/story/202103/sadguru_2-sixteen_nine.png?size=948:533"  alt="...">
            </div>
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-6">
                  <p>Likes- 23</p>
                </div>
                <div class="col-6 d-flex justify-content-end">
                  <p>Comments- 10</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
              <div class="row">
                  <div class="col-4">
                      <i class="material-icons d-flex justify-content-start">thumb_up</i>
                  </div>
                  <div class="col-4">
                      <i class="material-icons d-flex justify-content-center">comment</i>
                  </div>
                  <div class="col-4">
                      <i class="material-icons d-flex justify-content-end">ios_share</i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



{% endblock %}