{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row row-no-gutters">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class='container-fluid'>
            <div class='row row-no-gutters'>
              <div class='col-lg-12 col-sm-12 col-md-6 mt-5 shadow-lg p-3 mb-5 bg-body rounded shadow-lg p-3 mb-5 bg-body rounded'>
                {% if user.is_authenticated %}
                  <div class='mb-3' align="center">
                      <button type="button" class="btn btn-outline-primary d-flex justify-content-center"><i class="material-icons d-flex justify-content-center">add_circle</i> Create Group</button>
                  </div>
                {% endif %}
                  <div class='mb-3'>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search Groups" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                  </div>
                    {% for group in groups %}
                      <div class="list-group mb-3">
                        <a href="{% url 'groups:group_detail' group.slug %}" class="list-group-item list-group-item-action" aria-current="true">
                          <div class="d-flex w-100 justify-content-start">
                            {% if group.cover_pic %}
                              <img  src="{{ group.cover_pic.url }}" class="rounded" alt="..." height="70" width="70">
                            {% else %}
                             <img src="{% static 'profile_ex/coverprofile.jpg' %}" class="card-img-top" alt="..." height="70" width="70">
                            {% endif %}
                               <h5 class='mx-auto'>{{ group.groups_name }}</h5>
                          </div>
                          <p class="mb-1">{{ group.about_group }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <span class="badge bg-primary rounded-pill">14</span>
                                </div>
                                 <div class="col-6">
                                    <small class="d-flex justify-content-end">{{ group.type_group }}</small>
                                </div>
                            </div>
                        </a>
                      </div>
                  {% endfor %}
              </div>
            </div>
        </div>
    </div>
{% if posts %}
    <div class='col-lg-6 col-sm-12 col-md-6 mt-5'>
        <section>
          <!-- posts list starts -->
            {% for post in posts %}
            <div class="card shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <div class="container-fluid">
                                  <a class="navbar-brand" href="">
                                    {% if post.user.profile.profile_pic %}
                                      <img src="{{ post.user.profile.profile_pic.url }}" class="rounded" alt="..." height="70" width="70">
                                      {% else %}
                                        <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="70" width="70">
                                      {% endif %}
                                  </a>
                                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                  </button>
                                  <div class="collapse navbar-collapse" id="navbarText">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                      <li class="nav-item">
                                        <h5><a class="nav-link active" aria-current="page" href="{% url 'accounts:user_post_list' post.user.id %}">{{ post.user.first_name }} {{ post.user.last_name }}</a></h5>
                                        <p class="card-text"><small class="text-muted">Last updated {{ post.post_created }}</small></p>
                                      </li>
                                    </ul>
                                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                          <li class="nav-item d-flex justify-content-end">
                                            <h3><a class="nav-link active" aria-current="page" href="{% url 'groups:group_detail' post.groups_name.slug %}">{{ post.groups_name.groups_name }}</a></h3>
                                          </li>
                                      </ul>
                                  </div>
                                </div>
                              </nav>
                        </div>
                    </div>
                  <hr>
                  <div class="card-body">
                    <p class="card-text">{{ post.post_body }}</p>
                  </div>
                </div>
                <div class="card-body pb-2">
                  <div class="card mb-3">
                    <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
                  </div>

                  <div class="card-body pb-0">
                    <div class="row">
                      <div class="col-6">
                        <p>Likes- 1</p>
                      </div>
                      <div class="col-6 d-flex justify-content-end">
                        <p>Comments- 10</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-4">
                            <i class="material-icons d-flex justify-content-start">thumb_up</i>
                        </div>
                        <div class="col-4">
                            <i class="material-icons d-flex justify-content-center">comment</i>
                        </div>
                        <div class="col-4">
                            <i class="material-icons d-flex justify-content-end">ios_share</i>
                        </div>
                    </div>
                </div>
                <div class="form-floating mt-4">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                  <label for="floatingTextarea">Write a public comment...</label>
                </div>

                <!-- comment section -->
                {% for comment in post.comments.all %}
                  <div class="d-flex justify-content-start comment-items">
                      {% if comment.user.profile.profile_pic %}
                        <img src="{{ comment.user.profile.profile_pic.url }}" class="rounded-circle" alt="..." width='60' height='60'>
                      {% else %}
                        <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="70" width="70">
                      {% endif %}
                      <div class="ms-2 me-auto  p-3 mb-5 bg-body rounded-pill mt-5">
                        <div class="fw-bold">{{ comment.user.first_name }} {{ comment.user.last_name }}</div>
                        {{ comment.body }}
                        <div class="ms-3 me-auto  mb-1">
                          <span> {{ comment.date_created }}. <strong class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Reply</strong> </span>
                        </div>
                      </div>
                  </div>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's Replay..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Reply</button>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <!-- comment section ends -->
            </div>
            {% endfor %}
            <!-- posts list ends -->
        </section>
    </div>
{% endif %}
  </div>
</div>


</br>
</br>
</br>


{% endblock %}
