{% extends 'base.html' %}
{% load static %}
{% block title %} <title>post details</title> {% endblock %}
{% block content %}
</br></br>
<div class="container mt-4">
  <div class="card shadow-lg p-3 mb-5 bg-body rounded col-10 mx-auto">
      <div class="card-header">
          <div class="row">
              <div class="col-lg-12 col-sm-12">
                   <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <div class="container-fluid">
                        <a class="navbar-brand" href="">
                          {% if post.user.profile.profile_pic %}
                            <img src="{{ post.user.profile.profile_pic.url }}" class="rounded" alt="..." height="70" width="70">
                            {% else %}
                              <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="70" width="70">
                          {% endif %}
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarText">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                              <h5><a class="nav-link active" aria-current="page" href="{% url 'accounts:user_post_list' post.user.id %}">{{ post.user.first_name }} {{ post.user.last_name }}</a></h5>
                              <p class="card-text"><small class="text-muted">Last updated {{ post.post_created }}</small></p>
                            </li>
                          </ul>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item d-flex justify-content-end">
                                  <h3><a class="nav-link active" aria-current="page" href="{% url 'groups:group_detail' post.groups_name.slug %}">{{ post.groups_name.groups_name }}</a></h3>
                                </li>
                            </ul>
                        </div>
                      </div>
                      {% if user.id == post.user.id %}
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'posts:update_post' post.id %}">Upadte</a></li>
                          <li><a class="dropdown-item" href="{% url 'posts:delete_post' post.id %}">Delete</a></li>
                        </ul>
                      </div>
                      {% endif %}
                    </nav>
              </div>
          </div>
        <hr>
        <div class="card-body">
          <h4><p class="card-text">{{ post.post_body|safe }}</p></h4>
        </div>
      </div>
      <div class="card-body pb-2">
        <div class="card mb-3">
          {% if post.post_image %}
          <img src="{{ post.post_image.url }}" class="card-img-top" alt="...">
          {% endif %}
        </div>

        <div class="card-body pb-0">
          <div class="row">
            <div class="col-6">
              <p>Likes- {{ post.total_likes }}</p>
            </div>
            <div class="col-6 d-flex justify-content-end">
              <p>Comments- {{ post.total_comments }}</p>
            </div>
          </div>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class="card-footer text-muted">
            <div class="row  mx-auto">
                <div class="col-4">
                  <form class="" action="{% url 'posts:like_post' post.pk %}" method="post">
                    {% csrf_token %}
                    {% if user in post.post_likes.all %}
                      <button type="submit" name="post_id" value="{{ post.id }}">
                        <i class="material-icons d-flex justify-content-start">thumb_down</i>
                      </button>
                    {% else %}
                      <button type="submit" name="post_id" value="{{ post.id }}">
                        <i class="material-icons d-flex justify-content-start">thumb_up</i>
                      </button>
                    {% endif %}
                  </form>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <i class="material-icons d-flex justify-content-center">comment</i>
                </div>
            </div>
        </div>
        {% endif %}
      <!-- comment section -->
      {% for comment in post.comments.all|slice:":2"  %}
        <div class="d-flex justify-content-start comment-items">
            {% if comment.user.profile.profile_pic %}
              <img src="{{ comment.user.profile.profile_pic.url }}" class="rounded-circle" alt="..." width='60' height='60'>
            {% else %}
              <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="70" width="70">
            {% endif %}
            <div class="ms-2 me-auto  p-3 bg-body rounded-pill">
              <div class="fw-bold">{{ comment.user.first_name }} {{ comment.user.last_name }}
                {% if user.id == comment.user.id %}
                 --
                <div class="btn-group dropend">
                  <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'comments:comments_edit' comment.id %}">Edit</a></li>
                    <li><a class="dropdown-item" href="{% url 'comments:comments_delete' comment.id %}">Delete</a></li>
                  </ul>
                </div>
                {% endif %}
              </div>
              {{ comment.body }}
              <div class="ms-3 me-auto  mb-1">
                <span> {{ comment.date_created }}</span>
              </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{ comment.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{ comment.total_reply }} Reply
                  </button>
                </h2>
                <div id="flush-{{ comment.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    {% for reply in comment.commentreply.all %}
                    <div class="mt-2 mb-1">
                      <div class="card-body">
                        {% if reply.user.profile.profile_pic %}
                          <img src="{{ reply.user.profile.profile_pic.url }}" class="rounded-circle" alt="..." width='40' height='40'>
                        {% else %}
                          <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." width='40' height='40'>
                        {% endif %}
                        <strong class="card-title">{{ reply.user.first_name }} {{ reply.user.last_name }}</strong>
                        <div class="ms-5 me-auto  mb-1">
                          <span> {{ reply.replay }}</span><br>
                          <span> {{ reply.date_created }}</span>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="">
                      <form class="" action="{% url 'comments:comment_reply' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="comment" value="{{ comment.id }}">
                        <div class="mb-3">
                          <label for="exampleFormControlTextarea1" class="form-label"></label>
                          <textarea class="form-control" name="replay" cols="60" rows="1" id="exampleFormControlTextarea1" rows="3" value='somesh' required>{{ comment.user.first_name }} {{ comment.user.last_name }}:  </textarea>
                        </div>
                          <button type="submit" class="btn btn-primary">Reply</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              {% for comment in post.comments.all|slice:"2:" %}
                <div class="d-flex justify-content-start comment-items">
                    {% if comment.user.profile.profile_pic %}
                      <img src="{{ comment.user.profile.profile_pic.url }}" class="rounded-circle" alt="..." width='60' height='60'>
                    {% else %}
                      <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." height="70" width="70">
                    {% endif %}
                    <div class="ms-2 me-auto  p-3 bg-body rounded-pill">
                      <div class="fw-bold">{{ comment.user.first_name }} {{ comment.user.last_name }}
                        {% if user.id == comment.user.id %}
                         --
                        <div class="btn-group dropend">
                          <button type="button" class="btn btn-sm btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'comments:comments_edit' comment.id %}">Edit</a></li>
                            <li><a class="dropdown-item" href="{% url 'comments:comments_delete' comment.id %}">Delete</a></li>
                          </ul>
                        </div>
                        {% endif %}
                      </div>
                      {{ comment.body }}
                      <div class="ms-3 me-auto  mb-1">
                        <span> {{ comment.date_created }}</span>
                      </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-8">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{ comment.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                              {{ comment.total_reply }} Reply
                          </button>
                        </h2>
                        <div id="flush-{{ comment.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            {% for reply in comment.commentreply.all %}
                            <div class="mt-2 mb-1">
                              <div class="card-body">
                                {% if reply.user.profile.profile_pic %}
                                  <img src="{{ reply.user.profile.profile_pic.url }}" class="rounded-circle" alt="..." width='40' height='40'>
                                {% else %}
                                  <img src="{% static 'profile_ex/dummy_profile_pic.jpg' %}" class="flex-shrink-0 me-3 rounded-circle" alt="..." width='40' height='40'>
                                {% endif %}
                                <strong class="card-title">{{ reply.user.first_name }} {{ reply.user.last_name }}</strong>
                                <div class="ms-5 me-auto  mb-1">
                                  <span> {{ reply.replay }}</span><br>
                                  <span> {{ reply.date_created }}</span>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                            <div class="">
                              <form class="" action="{% url 'comments:comment_reply' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <div class="mb-3">
                                  <label for="exampleFormControlTextarea1" class="form-label"></label>
                                  <textarea class="form-control" name="replay" cols="60" rows="1" id="exampleFormControlTextarea1" rows="3" value='somesh' required>{{ comment.user.first_name }} {{ comment.user.last_name }}:  </textarea>
                                </div>
                                  <button type="submit" class="btn btn-primary">Reply</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <h2 class="accordion-header" id="flush-headingOne">
            {% if post.total_comments > 2 %}
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              View more comments
            </button>
            {% endif %}
          </h2>
        </div>
      </div>
      {% if user.is_authenticated %}
      <div class="form-floating mt-4">
              <form class="" action="{% url 'posts:comment_create' post.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="button" class='btn btn-primary' >Comment</button>
              </form>
      </div>
      {% endif %}
      <!-- comment section ends -->
  </div>
</div>


{% endblock %}
